<p-toast></p-toast>

<div class="p-m-4 p-d-block" style="max-width: 80%" *ngIf="roles.includes('GUEST') || roles.includes('USER')">
  <p-card>

    <p-table [value]="activities"  [paginator]="true" [rows]="10"
             [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%">Lista zajęć</th>
          <th style="width: 70%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-activity>
        <tr>
          <td>{{activity.name}}</td>
          <td>{{activity.description}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

<div class="p-m-4 p-d-block" style="max-width: 80%" *ngIf="roles.includes('ADMIN') || roles.includes('STAFF')">
  <p-card>

    <p-table [value]="activities"  [paginator]="true" [rows]="10"
             [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%">Lista zajęć</th>
          <th style="width: 40%"></th>
          <th style="width: 30%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-activity>
        <tr>
          <td>{{activity.name}}</td>
          <td>{{activity.description}}</td>
          <td style="text-align: center">
            <button pButton pRipple icon="pi pi-trash" (click)="displayDeleteActivityDialog(activity.idActivity)"
                    class="p-button-rounded p-button-warning" style="margin-right: 10px"></button>
            <button pButton pRipple type="button" icon="pi pi-pencil" (click)="displayEditActivityDialog(activity.idActivity)"
                    class="p-button-rounded p-button-info"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <button pButton pRipple type="button" label="Dodaj zajęcia" (click)="displayNewActivityDialog()"
            class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
  </p-card>
</div>


<p-dialog header="Dodaj nowe zajęcia" [(visible)]="newActivityDialog" [style]="{width: '55vw'}">

  <form [formGroup]="form" (submit)="addActivity(activityTemp)">
    <label class="p-d-block p-mb-1" for="name">Nazwa</label>
    <input class="p-mb-3" [(ngModel)]="activityTemp.name" formControlName="name" pInputText/>
    <p-message *ngIf="f.name.errors && submitted" severity="error"
               text="Nazwa zajęć powinna zawierać od 3 do 40 znaków"></p-message>

    <label class="p-d-block p-mb-1">Opis</label>
    <textarea [rows]="5" [cols]="30" [(ngModel)]="activityTemp.description" formControlName="description" pInputTextarea class="p-mb-3"></textarea>

    <button pButton pRipple type="submit" label="Zapisz"
            class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
  </form>
</p-dialog>


<p-dialog header="Edytuj zajęcia" [(visible)]="editActivityDialog" [style]="{width: '55vw'}">

  <form [formGroup]="form" (submit)="updateActivity(activityTemp.idActivity)">
    <label class="p-d-block p-mb-1" for="name">Nazwa</label>
    <input id="name" class="p-mb-3" [(ngModel)]="activityTemp.name" formControlName="name" pInputText/>
    <p-message *ngIf="f.name.errors && submitted" severity="error"
               text="Nazwa zajęć powinna zawierać od 3 do 40 znaków"></p-message>

    <label class="p-d-block p-mb-1">Opis</label>
    <textarea [rows]="5" [cols]="30" [(ngModel)]="activityTemp.description" formControlName="description" pInputTextarea
              class="p-mb-3"></textarea>

    <button pButton pRipple type="submit" label="Zapisz"
            class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
  </form>
</p-dialog>

<p-dialog header="Usuń zajęcia" [(visible)]="deleteActivityDialog" [style]="{width: '50vw'}">

  <label class="p-d-block p-mb-1">Czy na pewno chcesz usunąć zajęcia {{activityTemp.name}}?</label>

  <button pButton pRipple type="button" label="Usuń" (click)="deleteActivityById(activityTemp.idActivity)"
          class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>

</p-dialog>

