<div class="p-m-4 p-d-block" style="max-width: 80%">

  <p-toast></p-toast>

  <p-card>

    <div class="p-d-flex">
      <div class="p-d-flex p-mx-auto">
        <div>
          <button pButton pRipple type="button" icon="pi pi-angle-left" (click)="prevDay()"
                  class="p-button-rounded p-button-success p-button-outlined p-mt-4"></button>
        </div>
        <div class="p-mr-3 p-ml-3">
          <h4
            style="color: #6c757d; font-weight: 600; text-align: center; text-transform: uppercase">{{dayStr}}</h4>

          <h4
            style="color: #6c757d; font-weight: 600; text-align: center; margin-top: -20px">{{dateStr}}</h4>

        </div>
        <div>
          <button pButton pRipple type="button" icon="pi pi-angle-right" (click)="nextDay()"
                  class="p-button-rounded p-button-success p-button-outlined p-mt-4"></button>
        </div>
      </div>
    </div>

    <div *ngIf="usersRoles.includes('GUEST')">
      <p-tabView>
        <p-tabPanel header="Zajęcia">
          <p-table [value]="positions">
            <ng-template pTemplate="header" *ngIf="positions.length !== 0">
              <tr>
                <th>Zajęcia</th>
                <th>Trener</th>
                <th>Start</th>
                <th>Koniec</th>
                <th>Zapisani</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-position>
              <tr>
                <td>{{position.activity.name}}</td>
                <td>{{position.coach}}</td>
                <td>{{position.startTime | date : 'shortTime' : '' : 'pl'}}</td>
                <td>{{position.finishTime | date : 'shortTime' : '' : 'pl'}}</td>
                <td>{{position.participantsQuantity}}/{{position.maxParticipants}}</td>
                <td></td>
              </tr>
            </ng-template>
          </p-table>
          <h4 *ngIf="positions.length === 0" style="color: #6c757d; font-weight: 600">Brak zajęć w tym dniu!</h4>
        </p-tabPanel>
      </p-tabView>

    </div>

    <div *ngIf="usersRoles.includes('USER') || usersRoles.includes('ADMIN') || usersRoles.includes('STAFF')">
      <p-tabView>
        <p-tabPanel header="Zajęcia">
          <p-table [value]="positions" *ngIf="positions.length !== 0">
            <ng-template pTemplate="header">
              <tr>
                <th>Zajęcia</th>
                <th>Trener</th>
                <th>Start</th>
                <th>Koniec</th>
                <th>Zapisani</th>
                <th style="width: 20%"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-position>
              <tr>
                <td>{{position.activity.name}}</td>
                <td>{{position.coach}}</td>
                <td>{{position.startTime | date : 'shortTime' : '' : 'pl'}}</td>
                <td>{{position.finishTime | date : 'shortTime' : '' : 'pl'}}</td>
                <td *ngIf="position.participantsQuantity < position.maxParticipants">
                  {{position.participantsQuantity}}/{{position.maxParticipants}}
                </td>
                <td *ngIf="position.participantsQuantity >= position.maxParticipants"
                    style="color: #73000c">{{position.participantsQuantity}}/{{position.maxParticipants}}</td>
                <td style="text-align: center">

                  <div *ngIf="usersRoles.includes('USER')">
                    <div *ngIf="!usersPositionsId.includes(position.idPosition)">
                      <button pButton pRipple type="button" label="Zapisz się"
                              (click)="displaySignUpDialog(position.idPosition)"
                              *ngIf="(position.participantsQuantity < position.maxParticipants && !position.started)"
                              class="p-button-outlined p-button-success p-d-block"></button>
                      <button pButton pRipple type="button" label="Zapisz się" [disabled]="true"
                              *ngIf="(position.participantsQuantity >= position.maxParticipants) || position.started"
                              class="p-button-outlined p-button-success p-d-block"></button>
                    </div>

                    <button pButton pRipple type="button" label="Wypisz się"
                            (click)="displaySignOutDialog2(position.idPosition)"
                            *ngIf="usersPositionsId.includes(position.idPosition)"
                            class="p-button-outlined p-button-danger p-d-block"></button>
                  </div>

                  <div *ngIf="usersRoles.includes('ADMIN') || usersRoles.includes('STAFF')">
                    <button pButton pRipple type="button" icon="pi pi-list"
                            (click)="displayEnrollmentsListDialog(position.idPosition)"
                            class="p-button-rounded p-button-success" style="margin-right: 5px"></button>
                    <button pButton pRipple icon="pi pi-trash"
                            (click)="displayDeletePositionDialog(position.idPosition)"
                            class="p-button-rounded p-button-warning" style="margin-right: 5px"></button>
                    <button pButton pRipple type="button" icon="pi pi-pencil"
                            (click)="displayEditPositionDialog(position.idPosition)"
                            class="p-button-rounded p-button-info"></button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <h4 *ngIf="positions.length === 0" style="color: #6c757d; font-weight: 600">Brak zajęć w tym dniu!</h4>

          <button pButton pRipple type="button" label="Dodaj zajęcia" (click)="displayAddNewPositionDialog()"
                  *ngIf="usersRoles.includes('ADMIN') || usersRoles.includes('STAFF')"
                  class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
        </p-tabPanel>


        <p-tabPanel header="Moje zapisy" *ngIf="usersRoles.includes('USER')">

          <label class="p-d-block p-mb-2 p-mt-2" *ngIf="usersEnrollments.length === 0">Nie jesteś jeszcze zapisany na
            żadne zajęcia.</label>

          <p-table [value]="usersEnrollments" *ngIf="usersEnrollments.length !== 0">
            <ng-template pTemplate="header">
              <tr>
                <th>Zajęcia</th>
                <th>Trener</th>
                <th>Start</th>
                <th>Koniec</th>
                <th>Zapisani</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-enrollment>
              <tr>
                <td>{{enrollment.position.activity.name}}</td>
                <td>{{enrollment.position.coach}}</td>
                <td>{{enrollment.position.startTime | date : 'shortTime' : '' : 'pl'}}</td>
                <td>{{enrollment.position.finishTime | date : 'shortTime' : '' : 'pl'}}</td>
                <td>{{enrollment.position.participantsQuantity}}/{{enrollment.position.maxParticipants}}</td>
                <td>
                  <button pButton pRipple type="button" label="Wypisz się"
                          (click)="displaySignOutDialog1(enrollment.idEnrollment)"
                          class="p-button-outlined p-button-danger p-d-block"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
      </p-tabView>
    </div>

  </p-card>
</div>

<p-dialog header="Dodaj nowe zajęcia" [(visible)]="addNewPositionDialog" [style]="{width: '55vw'}">

  <form [formGroup]="form" (submit)="addPosition()">

    <label class="p-d-block p-mb-1">Zajęcia</label>
    <p-dropdown [options]="activities" [(ngModel)]="position.activity" placeholder="Wybierz zajęcia" optionLabel="name"
                formControlName="activity"></p-dropdown>
    <p-message *ngIf="f.activity.errors && submitted" severity="error"
               text="Wybierz rodzaj zajęć"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3">Godzina rozpoczęcia</label>
    <p-calendar [(ngModel)]="position.startTime" [showTime]="true" formControlName="startTime"
                class="p-mb-3"></p-calendar>
    <p-message *ngIf="f.startTime.errors && submitted" severity="error"
               text="Wprowadź godzinę rozpoczęcia zajęć"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3">Godzina zakończenia</label>
    <p-calendar [(ngModel)]="position.finishTime" [showTime]="true" formControlName="finishTime"
                class="p-mb-3"></p-calendar>
    <p-message *ngIf="f.finishTime.errors && submitted" severity="error"
               text="Wprowadź godzinę zakończenia zajęć"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3" for="coach">Trener</label>
    <input id="coach" class="p-mb-3" pKeyFilter="alpha" [(ngModel)]="position.coach" formControlName="coach"
           class="p-mb-3" pInputText/>
    <p-message severity="error" text="Wprowadź imię i nazwisko trenera"
               *ngIf="f.coach.errors && submitted"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3" for="coach">Maksymalna liczba uczestników</label>
    <input id="maxParticipants" class="p-mb-3" pKeyFilter="int" [(ngModel)]="position.maxParticipants"
           formControlName="maxParticipants" class="p-mb-3" pInputText/>
    <p-message severity="error" text="Wprowadź maksymalną liczbę uczestników"
               *ngIf="f.maxParticipants.errors && submitted"></p-message>

    <button pButton pRipple type="submit" label="Zapisz"
            class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
  </form>
</p-dialog>


<p-dialog header="Edytuj zajęcia" [(visible)]="editPositionDialog" [style]="{width: '55vw'}">

  <form [formGroup]="form" (submit)="updatePosition(position.idPosition)">

    <label class="p-d-block p-mb-1">Zajęcia</label>
    <p-dropdown [options]="activities" [(ngModel)]="position.activity" placeholder="Wybierz zajęcia" optionLabel="name"
                formControlName="activity"></p-dropdown>
    <p-message *ngIf="f.activity.errors && submitted" severity="error"
               text="Wybierz rodzaj zajęć"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3">Godzina rozpoczęcia</label>
    <p-calendar [(ngModel)]="position.startTime" [showTime]="true" formControlName="startTime"
                class="p-mb-3"></p-calendar>
    <p-message *ngIf="f.startTime.errors && submitted" severity="error"
               text="Wprowadź godzinę rozpoczęcia zajęć"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3">Godzina zakończenia</label>
    <p-calendar [(ngModel)]="position.finishTime" [showTime]="true" formControlName="finishTime"
                class="p-mb-3"></p-calendar>
    <p-message *ngIf="f.finishTime.errors && submitted" severity="error"
               text="Wprowadź godzinę zakończenia zajęć"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3" for="coach">Trener</label>
    <input id="coach" class="p-mb-3" pKeyFilter="alpha" [(ngModel)]="position.coach" formControlName="coach"
           pInputText/>
    <p-message severity="error" text="Wprowadź imię i nazwisko trenera"
               *ngIf="f.coach.errors && submitted"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3" for="coach">Maksymalna liczba uczestników</label>
    <input id="maxParticipants" class="p-mb-3" pKeyFilter="int" [(ngModel)]="position.maxParticipants"
           formControlName="maxParticipants" class="p-mb-3" pInputText/>
    <p-message severity="error" text="Wprowadź maksymalną liczbę uczestników"
               *ngIf="f.maxParticipants.errors && submitted"></p-message>

    <button pButton pRipple type="submit" label="Zapisz"
            class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
  </form>
</p-dialog>

<p-dialog header="Usuń zajęcia" [(visible)]="deletePositionDialog" [style]="{width: '50vw'}">

  <label class="p-d-block p-mb-1">Czy na pewno chcesz usunąć pozycję w grafiku?</label>

  <button pButton pRipple type="button" label="Usuń" (click)="deletePositionById(position.idPosition)"
          class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>

</p-dialog>

<p-dialog header="Zapisz się" [(visible)]="signUpDialog" [style]="{width: '50vw'}">

  <label class="p-d-block p-mb-1">Czy na pewno chcesz zapisać się na zajęcia?</label>

  <button pButton pRipple type="button" label="Zapisz się" (click)="signUpForPosition(position.idPosition)"
          class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>

</p-dialog>

<p-dialog header="Zapisz się" [(visible)]="signUpDialog" [style]="{width: '50vw'}">

  <label class="p-d-block p-mb-1">Czy na pewno chcesz zapisać się na zajęcia?</label>

  <button pButton pRipple type="button" label="Zapisz się" (click)="signUpForPosition(position.idPosition)"
          class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>

</p-dialog>

<p-dialog header="Wypisz się" [(visible)]="signOutDialog" [style]="{width: '50vw'}">

  <label class="p-d-block p-mb-1">Czy na pewno chcesz wypisać się z zajęć?</label>

  <button pButton pRipple type="button" label="Wypisz się" (click)="signOutFromPosition(enrollment.idEnrollment)"
          class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>

</p-dialog>

<p-dialog header="Zapisani uczestnicy" [(visible)]="enrollmentsListDialog" [style]="{width: '50vw'}">
  <div class="p-mt-4 p-mb-2" style="margin-bottom: 20px !important;">
    <p-messages [(value)]="enrollmentsListDialogMessages" [enableService]="false"></p-messages>
  </div>
  <div style="width: 60%">
    <p-table [value]="positionEnrollments" *ngIf="positionEnrollments.length !== 0">
      <ng-template pTemplate="body" let-enrollment>
        <tr>
          <td>{{enrollment.user.firstName}} {{enrollment.user.lastName}}</td>
          <!--          <td>{{findLatestTicketByIdUser(enrollment.user.idUser).status}}</td>-->
          <td>
            <button pButton pRipple icon="pi pi-trash"
                    *ngIf="usersRoles.includes('ADMIN') || usersRoles.includes('STAFF')"
                    (click)="displayDeleteUserDialog(enrollment.position.idPosition, enrollment.user)"
                    class="p-button-rounded p-button-warning"></button>
          </td>
        </tr>

      </ng-template>
    </p-table>

    <label class="p-d-block p-mb-2" *ngIf="positionEnrollments.length === 0">Nikt jeszcze nie zapisał się na te
      zajęcia.</label>

    <button pButton pRipple type="button" label="Dodaj użytkownika" (click)="displayAddUserDialog(idPosition)"
            *ngIf="usersRoles.includes('ADMIN') || usersRoles.includes('STAFF')"
            class="p-button-raised p-button-success p-d-block p-mt-5"></button>

  </div>
</p-dialog>

<p-dialog header="Dodaj użytkownika" [(visible)]="addUserDialog" [style]="{width: '50vw'}">
  <div style="max-width: 60% !important;">
    <p-table #dt [value]="notSignedUpUsers" *ngIf="notSignedUpUsers.length !== 0" [paginator]="true" [rows]="5" [globalFilterFields]="['firstName', 'lastName']">
      <ng-template pTemplate="header">
        <div class="table-header p-mb-2" >
          <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Wyszukaj użytkownika" />
            </span>
        </div>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td style="text-align: right">
            <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success"
                    (click)="signUpUserForPosition(user)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <label class="p-d-block p-mb-2" *ngIf="notSignedUpUsers.length === 0">Brak użytkowników do wyświetlenia.</label>
  </div>
</p-dialog>

<p-dialog header="Wypisz użytkownika" [(visible)]="deleteUserDialog" [style]="{width: '50vw'}">

  <label class="p-d-block p-mb-1">Czy na pewno chcesz wypisać tego użytkownika z zajęć?</label>

  <button pButton pRipple type="button" label="Wypisz" (click)="signOutUserFromPosition()"
          class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>

</p-dialog>




