<div class="p-m-4 p-d-block" style="max-width: 80%">
  <p-card>

    <p-messages [(value)]="messages" [enableService]="false"></p-messages>

    <div class="p-d-flex">
      <div class="p-d-flex p-mx-auto">
        <div>
          <button pButton pRipple type="button" icon="pi pi-angle-left" (click)="prevDay()"
                  class="p-button-rounded p-button-success p-button-outlined p-mt-4"></button>
        </div>
        <div class="p-mr-3 p-ml-3" >
          <h4
            style="color: #6c757d; font-weight: 600; text-align: center; text-transform: uppercase">{{dayStr}}</h4>

          <h4
            style="color: #6c757d; font-weight: 600; text-align: center; margin-top: -20px">{{dateStr}}</h4>

        </div>
        <div>
          <button pButton pRipple type="button" icon="pi pi-angle-right" (click)="nextDay()"
                  class="p-button-rounded p-button-success p-button-outlined p-mt-4"></button>
        </div>
      </div>
    </div>

    <p-tabView *ngIf="roles.includes('GUEST')">
      <p-tabPanel header="Zajęcia">
        <p-table [value]="positions"  [paginator]="true" [rows]="10"
                 [showCurrentPageReport]="true" >
          <ng-template pTemplate="header">
            <tr>
              <th>Zajęcia</th>
              <th>Trener</th>
              <th>Start</th>
              <th>Koniec</th>
              <th>Zapisani</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-position>
            <tr>
              <td>{{position.activity.name}}</td>
              <td>{{position.coach}}</td>
              <td>{{position.startTime | date : 'shortTime' : '' : 'pl'}}</td>
              <td>{{position.finishTime | date : 'shortTime' : '' : 'pl'}}</td>
              <td></td>
              <td></td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>

    <p-tabView *ngIf="roles.includes('USER') || roles.includes('ADMIN')">
      <p-tabPanel header="Zajęcia">
        <p-table [value]="positions"  [paginator]="true" [rows]="10"
                 [showCurrentPageReport]="true" >
          <ng-template pTemplate="header">
            <tr>
              <th>Zajęcia</th>
              <th>Trener</th>
              <th>Start</th>
              <th>Koniec</th>
              <th>Zapisani</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-position>
            <tr>
              <td>{{position.activity.name}}</td>
              <td>{{position.coach}}</td>
              <td>{{position.startTime | date : 'shortTime' : '' : 'pl'}}</td>
              <td>{{position.finishTime | date : 'shortTime' : '' : 'pl'}}</td>
              <td></td>
              <td style="text-align: center">
                <button pButton pRipple type="button" label="Zapisz się" (click)="displaySignUpDialog(position.idPosition)" *ngIf="roles.includes('USER')"
                        class="p-button-outlined p-button-success p-d-block"></button>
                <button pButton pRipple icon="pi pi-trash" (click)="displayDeletePositionDialog(position.idPosition)" *ngIf="roles.includes('ADMIN')"
                        class="p-button-rounded p-button-warning" style="margin-right: 10px"></button>
                <button pButton pRipple type="button" icon="pi pi-pencil" (click)="displayEditPositionDialog(position.idPosition)" *ngIf="roles.includes('ADMIN')"
                        class="p-button-rounded p-button-info"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <button pButton pRipple type="button" label="Dodaj zajęcia" (click)="displayAddNewPositionDialog()" *ngIf="roles.includes('ADMIN')"
                class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
      </p-tabPanel>

      <p-tabPanel header="Moje zapisy" *ngIf="roles.includes('USER')">

        <label class="p-d-block p-mb-2 p-mt-2" *ngIf="enrollments.length === 0">Nie jesteś jeszcze zapisany na żadne zajęcia.</label>

        <p-table [value]="enrollments"  [paginator]="true" [rows]="10" *ngIf="enrollments.length !== 0"
                 [showCurrentPageReport]="true" >
          <ng-template pTemplate="header">
            <tr>
              <th>Zajęcia</th>
              <th>Trener</th>
              <th>Start</th>
              <th>Koniec</th>
              <th>Zapisani</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-enrollment>
            <tr>
              <td>{{enrollment.position.activity.name}}</td>
              <td>{{enrollment.position.coach}}</td>
              <td>{{enrollment.position.startTime | date : 'shortTime' : '' : 'pl'}}</td>
              <td>{{enrollment.position.finishTime | date : 'shortTime' : '' : 'pl'}}</td>
              <td>{{enrollmentsNum}}</td>
              <td><button pButton pRipple type="button" label="Wypisz się"
                          class="p-button-outlined p-button-danger p-d-block"></button></td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>



  </p-card>
</div>

<p-dialog header="Dodaj nowe zajęcia" [(visible)]="addNewPositionDialog" [style]="{width: '55vw'}">

  <form [formGroup]="form" (submit)="addPosition()">

    <label class="p-d-block p-mb-1">Zajęcia</label>
    <p-dropdown [options]="activities" [(ngModel)]="positionTemp.activity" placeholder="Wybierz zajęcia" optionLabel="name" formControlName="activity"></p-dropdown>
    <p-message *ngIf="f.activity.errors && submitted" severity="error"
               text="Wybierz rodzaj zajęć"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3">Godzina rozpoczęcia</label>
    <p-calendar [(ngModel)]="positionTemp.startTime" [timeOnly]="true" formControlName="startTime" class="p-mb-3"></p-calendar>
    <p-message *ngIf="f.startTime.errors && submitted" severity="error"
               text="Wprowadź godzinę rozpoczęcia zajęć"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3">Godzina zakończenia</label>
    <p-calendar [(ngModel)]="positionTemp.finishTime" [timeOnly]="true" formControlName="finishTime" class="p-mb-3"></p-calendar>
    <p-message *ngIf="f.finishTime.errors && submitted" severity="error"
               text="Wprowadź godzinę zakończenia zajęć"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3" for="coach">Trener</label>
    <input id="coach" class="p-mb-3" pKeyFilter="alpha" [(ngModel)]="positionTemp.coach" formControlName="coach" class="p-mb-3" pInputText/>
    <p-message severity="error" text="Wprowadź imię i nazwisko trenera"
               *ngIf="f.coach.errors && submitted"></p-message>

    <button pButton pRipple type="submit" label="Zapisz"
            class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
  </form>
</p-dialog>


<p-dialog header="Edytuj zajęcia" [(visible)]="editPositionDialog" [style]="{width: '55vw'}">

  <form [formGroup]="form" (submit)="updatePosition(positionTemp.idPosition)">

    <label class="p-d-block p-mb-1">Zajęcia</label>
    <p-dropdown [options]="activities" [(ngModel)]="positionTemp.activity" placeholder="Wybierz zajęcia" optionLabel="name" formControlName="activity"></p-dropdown>
    <p-message *ngIf="f.activity.errors && submitted" severity="error"
               text="Wybierz rodzaj zajęć"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3">Godzina rozpoczęcia</label>
    <p-calendar [(ngModel)]="positionTemp.startTime" [timeOnly]="true" formControlName="startTime" class="p-mb-3"></p-calendar>
    <p-message *ngIf="f.startTime.errors && submitted" severity="error"
               text="Wprowadź godzinę rozpoczęcia zajęć"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3">Godzina zakończenia</label>
    <p-calendar [(ngModel)]="positionTemp.finishTime" [timeOnly]="true" formControlName="finishTime" class="p-mb-3"></p-calendar>
    <p-message *ngIf="f.finishTime.errors && submitted" severity="error"
               text="Wprowadź godzinę zakończenia zajęć"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3" for="coach">Trener</label>
    <input id="coach" class="p-mb-3" pKeyFilter="alpha" [(ngModel)]="positionTemp.coach" formControlName="coach" pInputText/>
    <p-message severity="error" text="Wprowadź imię i nazwisko trenera"
               *ngIf="f.coach.errors && submitted"></p-message>

    <button pButton pRipple type="submit" label="Zapisz"
            class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
  </form>
</p-dialog>

<p-dialog header="Usuń zajęcia" [(visible)]="deletePositionDialog" [style]="{width: '50vw'}">

  <label class="p-d-block p-mb-1">Czy na pewno chcesz usunąć pozycję w grafiku?</label>

  <button pButton pRipple type="button" label="Usuń" (click)="deletePositionById(positionTemp.idPosition)"
          class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>

</p-dialog>

<p-dialog header="Zapisz się" [(visible)]="signUpDialog" [style]="{width: '50vw'}">

<!--  <label class="p-d-block p-mb-1">{{positionTemp}}</label>-->

  <button pButton pRipple type="button" label="Zapisz się" (click)="signUpForActivity(positionTemp.idPosition)"
          class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>

</p-dialog>



