<div class="p-m-4 p-d-block" style="max-width: 100%" *ngIf="roles.includes('ADMIN') || roles.includes('USER') || roles.includes('STAFF')">
  <p-card>

    <p-toast></p-toast>

    <p-table [value]="ticketTypes" [paginator]="true" [rows]="10" [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>Lista karnetów</th>
          <th style="width: 40%"></th>
          <th></th>
          <th></th>
          <th *ngIf="roles.includes('ADMIN') && roles.includes('USER') || roles.includes('STAFF')"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticketType>
        <tr>
          <td>{{ticketType.name}}</td>
          <td>{{ticketType.description}}</td>
          <td style="text-align: center">{{ticketType.price}} zł</td>
          <td *ngIf="roles.includes('USER')">
            <button pButton pRipple
                    type="button" label="Kup" class="p-button-raised" (click)="displayBuyTicketDialog(ticketType.idType)"></button>
          </td>
          <td *ngIf="roles.includes('ADMIN') || roles.includes('STAFF')">
            <button pButton pRipple
                    (click)="displayDeleteTicketTypeDialog(ticketType.idType)"
                    icon="pi pi-trash" class="p-button-rounded p-button-warning" style="margin-right: 10px"></button>
            <button pButton pRipple type="button"
                    (click)="displayEditTicketTypeDialog(ticketType.idType)"
                    icon="pi pi-pencil" class="p-button-rounded p-button-info"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <button pButton pRipple type="button" label="Dodaj karnet"
            (click)="displayNewTicketTypeDialog()" *ngIf="roles.includes('ADMIN') || roles.includes('STAFF')"
            class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
  </p-card>
</div>

<div class="p-m-4 p-d-block" style="max-width: 80%" *ngIf="roles.includes('GUEST')">
  <p-card>

    <p-toast></p-toast>

    <p-table [value]="ticketTypes" [paginator]="true" [rows]="10" [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>Lista karnetów</th>
          <th style="width: 50%"></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticketType>
        <tr>
          <td>{{ticketType.name}}</td>
          <td>{{ticketType.description}}</td>
          <td style="text-align: center">{{ticketType.price}} zł</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

<p-dialog header="Dodaj nowy karnet" [(visible)]="newTicketTypeDialog" [style]="{width: '55vw'}">

  <form [formGroup]="form" (submit)="addTicketType()">
    <label class="p-d-block p-mb-1" for="name">Nazwa</label>
    <input class="p-mb-3" [(ngModel)]="ticketTypeTemp.name" formControlName="name" pInputText/>
    <p-message *ngIf="f.name.errors && submitted" severity="error"
               text="Nazwa zajęć powinna zawierać od 3 do 40 znaków"></p-message>

    <label class="p-d-block p-mb-1" for="price">Cena</label>
    <input class="p-mb-3" [(ngModel)]="ticketTypeTemp.price" formControlName="price" pInputText/>
    <p-message *ngIf="f.price.errors && submitted" severity="error"
               text="Nieprawidłowy format. Przykład: 99.00"></p-message>

    <label class="p-d-block p-mb-1">Opis</label>
    <textarea [rows]="5" [cols]="30" [(ngModel)]="ticketTypeTemp.description" formControlName="description" pInputTextarea class="p-mb-3"></textarea>

    <button pButton pRipple type="submit" label="Zapisz"
            class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
  </form>
</p-dialog>


<p-dialog header="Edytuj karnet" [(visible)]="editTicketTypeDialog" [style]="{width: '50vw'}">

  <form [formGroup]="form" (submit)="updateTicketType(ticketTypeTemp.idType)">
    <label class="p-d-block p-mb-1" for="name">Nazwa</label>
    <input id="name" class="p-mb-3" [(ngModel)]="ticketTypeTemp.name" formControlName="name" pInputText/>
    <p-message *ngIf="f.name.errors && submitted" severity="error"
               text="Nazwa zajęć powinna zawierać od 3 do 40 znaków"></p-message>

    <label class="p-d-block p-mb-1" for="price">Cena</label>
    <input id="price" class="p-mb-3" [(ngModel)]="ticketTypeTemp.price" formControlName="price" pInputText/>
    <p-message *ngIf="f.price.errors && submitted" severity="error"
               text="Nieprawidłowy format. Przykład: 99.99"></p-message>

    <label class="p-d-block p-mb-1">Opis</label>
    <textarea [rows]="5" [cols]="30" [(ngModel)]="ticketTypeTemp.description" formControlName="description" pInputTextarea class="p-mb-3"></textarea>

    <button pButton pRipple type="submit" label="Zapisz"
            class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
  </form>
</p-dialog>

<p-dialog header="Usuń karnet" [(visible)]="deleteTicketTypeDialog" [style]="{width: '50vw'}">

  <label class="p-d-block p-mb-1">Czy na pewno chcesz usunąć karnet {{ticketTypeTemp.name}}?</label>

  <button pButton pRipple type="button" label="Usuń" (click)="deleteTicketTypeById(ticketTypeTemp.idType)"
          class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>

</p-dialog>

<p-dialog header="Kup karnet" [(visible)]="buyTicketDialog" [style]="{width: '50vw'}">

  <label class="p-d-block p-mb-1 p-text-bold p-mr-2" style="float: left">Typ karnetu - </label>
  <label class="p-d-block p-mb-1 p-mr-2">{{ticketTypeTemp.name}}</label>
  <label class="p-d-block p-mb-1 p-text-bold p-mr-2" style="float: left">Cena - </label>
  <label class="p-d-block p-mb-1 p-ml-2 p-mr-2">{{ticketTypeTemp.price}}</label>
  <label class="p-d-block p-mb-1 p-text-bold p-mr-2" style="float: left">Ważność - </label>
  <label class="p-d-block p-mb-1 p-ml-2 p-mr-2">30 dni</label>

  <button pButton pRipple type="button" label="Kup" (click)="buyTicket(ticketTypeTemp.idType)"
          class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>

</p-dialog>








