<div class="p-m-4 p-d-block" style="max-width: 60%">
  <p-card>

    <p-orderList [value]="tickets" [listStyle]="{'max-height':'30rem'}" header="Lista karnetów"  [dragdrop]="true" controlsPosition="right">
      <ng-template let-ticket pTemplate="item">
        <div class="product-item">

          <div class="product-list-detail">
            <h3 class="p-mb-2">{{ticket.name}}</h3>
            <i class="pi pi-check product-category-icon"></i>
            <span class="product-category ">{{ticket.duration}}</span><br>
            <i class="pi pi-check product-category-icon "></i>
            <span class="product-category ">{{ticket.description}}</span>
          </div>
          <div class="product-list-action">
            <h3 class="p-mb-2">{{ticket.price}} zł</h3>
            <td><button pButton pRipple type="button" label="Kup" class="p-button-raised"></button></td>
          </div>
        </div>
      </ng-template>
    </p-orderList>

  </p-card>
</div>


