<div class="p-m-4 p-d-block" style="max-width: 90%">
  <p-card>
    <p-messages [(value)]="messages" [enableService]="false"></p-messages>

    <p-table [value]="users"  [paginator]="true" [rows]="10"
             [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>Email</th>
          <th>Data urodzenia</th>
          <th>Numer telefonu</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.username}}</td>
          <td>{{user.birthDate | date : 'longDate'}}</td>
          <td>{{user.phoneNumber}}</td>
          <td>
            <button pButton pRipple icon="pi pi-trash" (click)="deleteUserDialog(user.idUser)"
                    class="p-button-rounded p-button-warning" style="margin-right: 10px"></button>
            <button pButton pRipple type="button" icon="pi pi-pencil" (click)="editUserDialog(user.idUser)"
                    class="p-button-rounded p-button-info"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <button pButton pRipple type="button" label="Dodaj użytkownika" (click)="addNewUserDialog()"
            class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
  </p-card>
</div>

<p-dialog header="Dodaj użytkownika" [(visible)]="displayNewUserDialog" [style]="{width: '55vw'}">

  <form [formGroup]="form" (submit)="addUser()">
    <label class="p-d-block p-mb-1" for="firstName">Imię</label>
    <input id="firstName" class="p-mb-3" pKeyFilter="alpha" [(ngModel)]="userTemp.firstName"
           formControlName="firstName" pInputText/>
    <p-message severity="error" text="Imię powinno zawierać co najmniej 3 znaki"
               *ngIf="f.firstName.errors && submitted"></p-message>

    <label class="p-d-block p-mb-1" for="lastName">Nazwisko</label>
    <input id="lastName" class="p-mb-3" pKeyFilter="alpha" [(ngModel)]="userTemp.lastName"
           formControlName="lastName" pInputText/>
    <p-message severity="error" text="Nazwisko powinno zawierać co najmniej 3 znaki"
               *ngIf="f.lastName.errors && submitted"></p-message>

    <label class="p-d-block p-mb-1" for="email">E-mail</label>
    <input id="email" class="p-mb-3" [(ngModel)]="userTemp.username"
           formControlName="username" pInputText/>
    <p-message *ngIf="usernameTaken" severity="error" text="Użytkownik o takim emailu już istnieje"></p-message>
    <p-message *ngIf="f.username.errors && submitted" severity="error"
               text="Niepoprawny format adresu email"></p-message>

    <label class="p-d-block p-mb-1">Data urodzenia</label>
    <p-calendar [(ngModel)]="userTemp.birthDate" dateFormat="yy-mm-dd"
                formControlName="birthDate" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="1930:2021"></p-calendar>
    <!--        <p-inputMask class="p-mb-3" mask="9999-99-99" [(ngModel)]="user.birthDate" placeholder="2021-09-13"-->
    <!--                     slotChar="yyyy-mm-dd" formControlName="birthDate"></p-inputMask>-->
    <p-message *ngIf="f.birthDate.errors && submitted" severity="error" text="Data urodzenia wymagana"></p-message>

    <label class="p-d-block p-mb-1" style="margin-top: 20px">Numer telefonu</label>
    <p-inputMask id="phone" class="p-mb-3" mask="999-999-999" placeholder="999-999-999"
                 [(ngModel)]="userTemp.phoneNumber" formControlName="phoneNumber"></p-inputMask>
    <p-message *ngIf="f.phoneNumber.errors && submitted" severity="error"
               text="Numer telefonu wymagany"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3">Hasło</label>
    <p-password class="p-mb-3" id="password" [feedback]="false"
                [(ngModel)]="userTemp.password" formControlName="password"></p-password>
    <p-message *ngIf="f.password.errors && submitted" severity="error"
               text="Hasło powinno zawierać co najmniej: 6 znaków, jedną wielką literę oraz jedną cyfrę"></p-message>

    <label class="p-d-block p-mb-1 p-mt-3">Powtórz hasło</label>
    <p-password id="confirmPassword" [feedback]="false" formControlName="confirmPassword"></p-password>
    <p-message *ngIf="f.confirmPassword.errors && submitted" severity="error"
               text="Hasła nie są takie same"></p-message>

    <button pButton pRipple type="submit" label="Zapisz"
            class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
  </form>
</p-dialog>

<p-dialog header="Edytuj użytkownika" [(visible)]="displayEditUserDialog" [style]="{width: '55vw'}">

  <form [formGroup]="form" (submit)="updateUser(userTemp.idUser)">
    <label class="p-d-block p-mb-1" for="name">Imię</label>
    <input id="name" class="p-mb-3" [(ngModel)]="userTemp.firstName" formControlName="firstName"
           pInputText/>
    <p-message severity="error" text="Imię powinno zawierać co najmniej 3 znaki"
               *ngIf="f.firstName.errors && submitted"></p-message>

    <label class="p-d-block p-mb-1" for="surname">Nazwisko</label>
    <input id="surname" class="p-mb-3" [(ngModel)]="userTemp.lastName" formControlName="lastName"
           pInputText/>
    <p-message severity="error" text="Nazwisko powinno zawierać co najmniej 3 znaki"
               *ngIf="f.lastName.errors && submitted"></p-message>

    <label class="p-d-block p-mb-1" for="email">E-mail</label>
    <input id="email" class="p-mb-3" [disabled]="true" value="{{userTemp.username}}" pInputText/>

<!--    <label class="p-d-block p-mb-1">Data urodzenia</label>-->
<!--    <p-inputMask class="p-mb-3" mask="9999-99-99" [(ngModel)]="userTemp.birthDate" placeholder="2021-09-13"-->
<!--                 slotChar="yyyy-mm-dd" formControlName="birthDate"></p-inputMask>-->
<!--    <p-message *ngIf="f.birthDate.errors && submitted" severity="error" text="Data urodzenia wymagana"></p-message>-->

    <label class="p-d-block p-mb-1" >Numer telefonu</label>
    <p-inputMask id="phone" mask="999-999-999" placeholder="999-999-999" class="p-mb-3"
                 [(ngModel)]="userTemp.phoneNumber" formControlName="phoneNumber"
    ></p-inputMask>
    <p-message *ngIf="f.phoneNumber.errors && submitted" severity="error"
               text="Numer telefonu wymagany"></p-message>

    <button pButton pRipple type="submit" label="Zapisz"
            class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
  </form>
</p-dialog>

<p-dialog header="Usuń zajęcia" [(visible)]="displayDeleteUserDialog" [style]="{width: '50vw'}">

  <label class="p-d-block p-mb-1">Czy na pewno chcesz usunąć użytkownika {{userTemp.firstName}} {{userTemp.lastName}}?</label>

  <button pButton pRipple type="button" label="Usuń" (click)="deleteUserById(userTemp.idUser)"
          class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>

</p-dialog>
