<div class="p-m-4 p-d-block" style="max-width: 60%">
  <p-card>
    <p-tabView>
      <p-tabPanel header="Zajęcia">
        <p-table>
          <ng-template pTemplate="header">
            <tr>
              <th>Zajęcia</th>
              <th>Start</th>
              <th>Koniec</th>
              <th>Zapisani</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
      <p-tabPanel header="Moje zapisy">
        Content 2
      </p-tabPanel>
    </p-tabView>
  </p-card>
</div>


