
<div class="p-m-4 p-d-block" style="width: max-content">
  <p-card header="Zaloguj się">
    <div class="p-pr-6 p-pl-6">
      <div class="p-mb-3">
        <p-message severity="error" text="Niepoprawny email lub hasło" *ngIf="errorMessage != ''"></p-message>
      </div>

      <label class="p-d-block p-mb-1" for="email">E-mail</label>
      <input id="email" class="p-mb-3" [(ngModel)]="user.username" pInputText/>

      <label class="p-d-block p-mb-1">Hasło</label>
      <p-password id="password" [feedback]="false" [(ngModel)]="user.password"></p-password>


      <button pButton pRipple type="button" label="Zaloguj" class="p-button-raised p-button-success p-d-block p-mt-5"
              style="width: 220px; margin-bottom: 1rem" (click)="login()"></button>

      <button pButton pRipple type="button" label="Zapomniałem hasła" (click)="resetPasswordDialog()" class="p-button-success p-button-text"
              style="width: 220px"></button>
    </div>
  </p-card>


  <p-dialog header="Resetuj hasło" [(visible)]="displayResetPasswordDialog" [style]="{width: '55vw'}">

    <form [formGroup]="form" (submit)="closeResetPasswordDialog()" >
      <label class="p-d-block p-mb-3" for="username">Podaj adres email, na który wyślemy link do zresetowania hasła</label>
      <input id="username" class="p-mb-3" [(ngModel)]="user.username" formControlName="username" pInputText/>
      <p-message *ngIf="f.username.errors && submitted" severity="error"
                 text="Podaj poprawny format adresu email"></p-message>

      <button pButton pRipple type="submit" label="Zapisz"
              class="p-button-raised p-button-success p-d-block p-mt-5" style="width: 220px"></button>
    </form>
  </p-dialog>
</div>


