<div class="p-grid">

  <div class="p-col">
    <div class="p-m-4">

      <p-card header="Moje dane">

        <p-messages [(value)]="messages" [enableService]="false"></p-messages>

          <div class="p-grid">
            <div class="p-col">
              <label class="p-d-block p-mb-1" for="name">Imię</label>
              <input id="name" class="p-mb-3" [(ngModel)]="currentUser.firstName" pInputText/>
            </div>
            <div class="p-col">
              <label class="p-d-block p-mb-1" for="surname">Nazwisko</label>
              <input id="surname" class="p-mb-3" [(ngModel)]="currentUser.lastName" pInputText/>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col">
              <label class="p-d-block p-mb-1" for="email">E-mail</label>
              <input id="email" class="p-mb-3" [(ngModel)]="currentUser.username" pInputText/>
            </div>
            <div class="p-col">
              <label class="p-d-block p-mb-1">Numer telefonu</label>
              <p-inputMask id="phone" mask="999-999-999" placeholder="999-999-999" class="p-mb-3" [(ngModel)]="currentUser.phoneNumber"></p-inputMask>
            </div>
          </div>

          <button pButton pRipple type="button" label="Zapisz" class="p-button-raised p-button-success p-d-block p-mt-5"
                  (click)="updateUser()" style="width: 220px"></button>
      </p-card>
    </div>
  </div>

  <div class="p-col">
    <div class="p-m-4 p-d-inline-block">
      <p-card header="Moje karnety">
        <p-table [value]="usersTickets" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header">
            <tr>
              <th>Karnet</th>
              <th>Data zakupu</th>
              <th>Data wygaśnięcia</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ticket>
            <tr>
              <td>{{ticket.name}}</td>
              <td>{{ticket.activationDate}}</td>
              <td>{{ticket.expirationDate}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>

</div>


<div class="p-grid">

  <div class="p-col">
    <div class="p-m-4 p-d-inline-block">
      <p-card header="Zmień hasło">

        <div class="p-grid">
          <div class="p-col">
            <label class="p-d-block p-mb-1 p-mt-3">Aktualne hasło</label>
            <p-password id="password" [feedback]="false" (input)="oldPass($event)" ></p-password>
          </div>
        </div>

          <div class="p-grid">
            <div class="p-col">
              <label class="p-d-block p-mb-1 p-mt-3">Nowe hasło</label>
              <p-password id="password" [feedback]="false" (input)="newPass($event)"></p-password>
            </div>
            <div class="p-col">
              <label class="p-d-block p-mb-1 p-mt-3">Powtórz nowe hasło</label>
              <p-password id="password2" [feedback]="false" (input)="newPass2($event)"></p-password>
            </div>
          </div>

          <button pButton pRipple type="button" label="Zapisz" class="p-button-raised p-button-success p-d-block p-mt-5"
                  style="width: 220px" (click)="changePassword()"></button>
      </p-card>
    </div>
  </div>




</div>

