<div class="p-m-4 p-d-block" style="width: max-content">
  <p-card header="Resetuj hasło">
    <div class="p-pr-6 p-pl-6">
      <form [formGroup]="editPasswordFrom" (submit)="changePassword()">

        <label class="p-d-block p-mb-1 p-mt-3">Nowe hasło</label>
        <p-password id="password" [feedback]="false" (input)="newPass($event)" formControlName="password"></p-password>
        <p-message *ngIf="p.password.errors && passSubmitted" severity="error"
                   text="Hasło powinno zawierać co najmniej: 6 znaków, jedną wielką literę oraz jedną cyfrę"></p-message>

        <label class="p-d-block p-mb-1 p-mt-3">Powtórz nowe hasło</label>
        <p-password id="confirmPassword" [feedback]="false" (input)="newPass2($event)"
                    formControlName="confirmPassword"></p-password>
        <p-message *ngIf="p.confirmPassword.errors && passSubmitted" severity="error"
                   text="Hasła nie są takie same"></p-message>

        <button pButton pRipple type="submit" label="Zapisz" class="p-button-raised p-button-success p-d-block p-mt-5"
                style="width: 220px"></button>
      </form>
    </div>
  </p-card>

</div>

